<div class="cc-mm-account-details">
  <form action="#" method="post" class="account-form">
    <div class="form-group">
      <label for="first-name" class="input-label">First Name</label>
      <div class="input-container">
        <input type="text" id="first-name" name="first-name" class="input-field" value="{{ customer.first_name }}"
          required readonly>
        <a href="#" class="edit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path
              d="M14.1884 4.13127C14.5639 3.75576 15.1548 3.72688 15.5634 4.04461L15.6615 4.13127L20.8699 9.3396C21.2767 9.7464 21.2767 10.4059 20.8699 10.8127C20.4944 11.1882 19.9035 11.2171 19.4949 10.8994L19.3967 10.8127L14.1884 5.60441C13.7816 5.19761 13.7816 4.53807 14.1884 4.13127Z"
              fill="#C1C7D0" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.38841 15.931L16.3614 1.95793C17.5818 0.737983 19.5599 0.737983 20.7802 1.95793L23.0429 4.22065C24.2629 5.44096 24.2629 7.41909 23.0428 8.63951L9.06988 22.6124C8.91637 22.7659 8.71872 22.8677 8.50456 22.9034L2.25456 23.945C1.54954 24.0625 0.938318 23.4513 1.05582 22.7463L2.09749 16.4963C2.13318 16.2821 2.23489 16.0845 2.38841 15.931ZM21.5697 5.69368L19.3072 3.43118L19.2091 3.34466C18.8006 3.02705 18.2098 3.05591 17.8345 3.43118L4.09686 17.1686L3.34998 21.6498L7.83123 20.9029L21.5695 7.16648C21.9449 6.791 21.9738 6.20028 21.6563 5.79178L21.5697 5.69368Z"
              fill="#C1C7D0" />
          </svg>
        </a>
      </div>
    </div>

    <div class="form-group">
      <label for="last-name" class="input-label">Last Name</label>
      <div class="input-container">
        <input type="text" id="last-name" name="last-name" readonly class="input-field" value="{{ customer.last_name }}"
          required>
        <a href="#" class="edit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path
              d="M14.1884 4.13127C14.5639 3.75576 15.1548 3.72688 15.5634 4.04461L15.6615 4.13127L20.8699 9.3396C21.2767 9.7464 21.2767 10.4059 20.8699 10.8127C20.4944 11.1882 19.9035 11.2171 19.4949 10.8994L19.3967 10.8127L14.1884 5.60441C13.7816 5.19761 13.7816 4.53807 14.1884 4.13127Z"
              fill="#C1C7D0" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.38841 15.931L16.3614 1.95793C17.5818 0.737983 19.5599 0.737983 20.7802 1.95793L23.0429 4.22065C24.2629 5.44096 24.2629 7.41909 23.0428 8.63951L9.06988 22.6124C8.91637 22.7659 8.71872 22.8677 8.50456 22.9034L2.25456 23.945C1.54954 24.0625 0.938318 23.4513 1.05582 22.7463L2.09749 16.4963C2.13318 16.2821 2.23489 16.0845 2.38841 15.931ZM21.5697 5.69368L19.3072 3.43118L19.2091 3.34466C18.8006 3.02705 18.2098 3.05591 17.8345 3.43118L4.09686 17.1686L3.34998 21.6498L7.83123 20.9029L21.5695 7.16648C21.9449 6.791 21.9738 6.20028 21.6563 5.79178L21.5697 5.69368Z"
              fill="#C1C7D0" />
          </svg>
        </a>
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="input-label">Email</label>
      <div class="input-container">
        <input type="email" id="email" name="email" class="input-field" value="{{ customer.email }}" readonly required>
        <a href="#" class="edit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path
              d="M14.1884 4.13127C14.5639 3.75576 15.1548 3.72688 15.5634 4.04461L15.6615 4.13127L20.8699 9.3396C21.2767 9.7464 21.2767 10.4059 20.8699 10.8127C20.4944 11.1882 19.9035 11.2171 19.4949 10.8994L19.3967 10.8127L14.1884 5.60441C13.7816 5.19761 13.7816 4.53807 14.1884 4.13127Z"
              fill="#C1C7D0" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.38841 15.931L16.3614 1.95793C17.5818 0.737983 19.5599 0.737983 20.7802 1.95793L23.0429 4.22065C24.2629 5.44096 24.2629 7.41909 23.0428 8.63951L9.06988 22.6124C8.91637 22.7659 8.71872 22.8677 8.50456 22.9034L2.25456 23.945C1.54954 24.0625 0.938318 23.4513 1.05582 22.7463L2.09749 16.4963C2.13318 16.2821 2.23489 16.0845 2.38841 15.931ZM21.5697 5.69368L19.3072 3.43118L19.2091 3.34466C18.8006 3.02705 18.2098 3.05591 17.8345 3.43118L4.09686 17.1686L3.34998 21.6498L7.83123 20.9029L21.5695 7.16648C21.9449 6.791 21.9738 6.20028 21.6563 5.79178L21.5697 5.69368Z"
              fill="#C1C7D0" />
          </svg>
        </a>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="input-label">Password</label>
      <div class="input-container">
        <input type="password" id="password" name="password" class="input-field" value="***************" required>
        <a href="#" class="edit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path
              d="M14.1884 4.13127C14.5639 3.75576 15.1548 3.72688 15.5634 4.04461L15.6615 4.13127L20.8699 9.3396C21.2767 9.7464 21.2767 10.4059 20.8699 10.8127C20.4944 11.1882 19.9035 11.2171 19.4949 10.8994L19.3967 10.8127L14.1884 5.60441C13.7816 5.19761 13.7816 4.53807 14.1884 4.13127Z"
              fill="#C1C7D0" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.38841 15.931L16.3614 1.95793C17.5818 0.737983 19.5599 0.737983 20.7802 1.95793L23.0429 4.22065C24.2629 5.44096 24.2629 7.41909 23.0428 8.63951L9.06988 22.6124C8.91637 22.7659 8.71872 22.8677 8.50456 22.9034L2.25456 23.945C1.54954 24.0625 0.938318 23.4513 1.05582 22.7463L2.09749 16.4963C2.13318 16.2821 2.23489 16.0845 2.38841 15.931ZM21.5697 5.69368L19.3072 3.43118L19.2091 3.34466C18.8006 3.02705 18.2098 3.05591 17.8345 3.43118L4.09686 17.1686L3.34998 21.6498L7.83123 20.9029L21.5695 7.16648C21.9449 6.791 21.9738 6.20028 21.6563 5.79178L21.5697 5.69368Z"
              fill="#C1C7D0" />
          </svg>
        </a>
      </div>
    </div>

    <div class="form-group">
      <label for="phone" class="input-label">Phone Number</label>
      <div class="input-container">
        <input type="tel" id="phone" name="phone" class="input-field" value="{{ customer.phone }}" required>
        <a href="#" class="edit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path
              d="M14.1884 4.13127C14.5639 3.75576 15.1548 3.72688 15.5634 4.04461L15.6615 4.13127L20.8699 9.3396C21.2767 9.7464 21.2767 10.4059 20.8699 10.8127C20.4944 11.1882 19.9035 11.2171 19.4949 10.8994L19.3967 10.8127L14.1884 5.60441C13.7816 5.19761 13.7816 4.53807 14.1884 4.13127Z"
              fill="#C1C7D0" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.38841 15.931L16.3614 1.95793C17.5818 0.737983 19.5599 0.737983 20.7802 1.95793L23.0429 4.22065C24.2629 5.44096 24.2629 7.41909 23.0428 8.63951L9.06988 22.6124C8.91637 22.7659 8.71872 22.8677 8.50456 22.9034L2.25456 23.945C1.54954 24.0625 0.938318 23.4513 1.05582 22.7463L2.09749 16.4963C2.13318 16.2821 2.23489 16.0845 2.38841 15.931ZM21.5697 5.69368L19.3072 3.43118L19.2091 3.34466C18.8006 3.02705 18.2098 3.05591 17.8345 3.43118L4.09686 17.1686L3.34998 21.6498L7.83123 20.9029L21.5695 7.16648C21.9449 6.791 21.9738 6.20028 21.6563 5.79178L21.5697 5.69368Z"
              fill="#C1C7D0" />
          </svg>
        </a>
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="input-label">Address</label>
      <div class="input-container">
        <input type="text" id="address" name="address" readonly class="input-field" value="{{ customer.addresses[0].address1 }}"
          required>
        <a href="#" class="edit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path
              d="M14.1884 4.13127C14.5639 3.75576 15.1548 3.72688 15.5634 4.04461L15.6615 4.13127L20.8699 9.3396C21.2767 9.7464 21.2767 10.4059 20.8699 10.8127C20.4944 11.1882 19.9035 11.2171 19.4949 10.8994L19.3967 10.8127L14.1884 5.60441C13.7816 5.19761 13.7816 4.53807 14.1884 4.13127Z"
              fill="#C1C7D0" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.38841 15.931L16.3614 1.95793C17.5818 0.737983 19.5599 0.737983 20.7802 1.95793L23.0429 4.22065C24.2629 5.44096 24.2629 7.41909 23.0428 8.63951L9.06988 22.6124C8.91637 22.7659 8.71872 22.8677 8.50456 22.9034L2.25456 23.945C1.54954 24.0625 0.938318 23.4513 1.05582 22.7463L2.09749 16.4963C2.13318 16.2821 2.23489 16.0845 2.38841 15.931ZM21.5697 5.69368L19.3072 3.43118L19.2091 3.34466C18.8006 3.02705 18.2098 3.05591 17.8345 3.43118L4.09686 17.1686L3.34998 21.6498L7.83123 20.9029L21.5695 7.16648C21.9449 6.791 21.9738 6.20028 21.6563 5.79178L21.5697 5.69368Z"
              fill="#C1C7D0" />
          </svg>
        </a>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="date_of-birth" class="input-label">Date of Birth (Optional)</label>
      <div class="input-container">
        <input type="text" id="date_of-birth" name="date_of-birth" class="input-field" value="**/**/****" required>
        <a href="#" class="edit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
            <path
              d="M14.1884 4.13127C14.5639 3.75576 15.1548 3.72688 15.5634 4.04461L15.6615 4.13127L20.8699 9.3396C21.2767 9.7464 21.2767 10.4059 20.8699 10.8127C20.4944 11.1882 19.9035 11.2171 19.4949 10.8994L19.3967 10.8127L14.1884 5.60441C13.7816 5.19761 13.7816 4.53807 14.1884 4.13127Z"
              fill="#C1C7D0" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.38841 15.931L16.3614 1.95793C17.5818 0.737983 19.5599 0.737983 20.7802 1.95793L23.0429 4.22065C24.2629 5.44096 24.2629 7.41909 23.0428 8.63951L9.06988 22.6124C8.91637 22.7659 8.71872 22.8677 8.50456 22.9034L2.25456 23.945C1.54954 24.0625 0.938318 23.4513 1.05582 22.7463L2.09749 16.4963C2.13318 16.2821 2.23489 16.0845 2.38841 15.931ZM21.5697 5.69368L19.3072 3.43118L19.2091 3.34466C18.8006 3.02705 18.2098 3.05591 17.8345 3.43118L4.09686 17.1686L3.34998 21.6498L7.83123 20.9029L21.5695 7.16648C21.9449 6.791 21.9738 6.20028 21.6563 5.79178L21.5697 5.69368Z"
              fill="#C1C7D0" />
          </svg>
        </a>
      </div>
    </div> -->
  </form>
</div>