<div id="shopify-section-navigation-supermarket" class="shopify-section">
  <nav class="wrapper-navigation site-nav" data-sticky-pc>
    <div class="header-logo logo-fixed">
      <a class="logo-img" href="/" title="Logo">
        <img width="300" height="89" class="lazyload" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20300%2089'%3E%3C/svg%3E" 
             data-src="//cdn.shopify.com/s/files/1/1085/8818/files/dankstop-logo2.gif" data-sizes="auto" 
             alt="{{ shop.name }}" 
             title="{{ shop.name }}">
      </a>
    </div>
    <div class="main-menu jas-mb-style">
      <div class="container">
        <div class="mb-area">
          <div class="wrapper-left">
            <div class="vertical-menu">
              <div class="categories-title">
                <a href="#" class="icon-nav" aria-label="Open main menu">
                  <span class="icon-line"></span>
                </a>
                <h3 class="title">
                  Online Headshop                              
                </h3>
                <svg class="" width="100%" height="100%" aria-hidden="true" focusable="false" role="img" style="
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    width: 25px;
    height: 25px;
    color: #fff;
">
        <use xlink:href="#faChevronRight" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
                <!-- <a class="view_all zz" href="/collections" title="Shop by">
                  View all
                </a> -->
              </div>
              <nav class="nav-bar" role="navigation">
                <!-- <div class="loading-spinner">
                  <div></div><div></div><div></div><div></div>
                </div> -->
                
                {% include 'vertical-nav-static' %} 

              </nav>
            </div>
          </div>
          <div class="wrapper-right">
            <div class="horizontal-menu">
              {%- comment -%}
              <nav class="nav-bar lazybit lazybit-load" data-lazy-url="{{ shop.url }}?view=navigation-horizontal" role="navigation">
              {%- endcomment -%}                
              <nav class="nav-bar">
                <ul class="site-nav">
                {%- comment -%}
                <li class="menu-lv-1 item"><a class="" href="https://dankstop.com/pages/black-friday-cyber-monday"><span>CYBER</span><span class="icon-label icon_hot"><span>🦃 !</span></span></a></li>
                {%- endcomment -%}                
                <li class="menu-lv-1 item"><a class="" href="/collections/bongs"><span>Bongs</span></a></li>
                <li class="menu-lv-1 item"><a class="" href="/collections/dab-rigs-and-oil-rigs"><span>Dab Rigs</span></a></li>
                <li class="menu-lv-1 item"><a class="" href="/collections/glass-pipes-hand-pipes"><span>Glass Pipes</span></a></li>  
                <li class="menu-lv-1 item"><a class="" href="/collections/vaporizers"><span>Vaporizers</span></a></li>  
                {% comment %} <li class="menu-lv-1 item"><a class="" href="/collections/cbd-products"><span>CBD</span></a></li>   {% endcomment %}
                <li class="menu-lv-1 item"><a class="" href="/collections/grinders"><span>Grinders</span></a></li> 
                <li class="menu-lv-1 item"><a class="" href="/collections/snacks"><span>Munchies</span></a></li> 
                {% comment %} <li class="menu-lv-1 item"><a class="" href="/collections/clearance"><span>On Sale</span><span class="icon-label icon_sale"><span>Clearance</span></span></a></li> {% endcomment %}
                <li class="menu-lv-1 item"><a class="" href="/collections/grav"><span>GRAV</span></a></li>
                <li class="menu-lv-1 item"><a class="" href="/collections/puffco"><span>Puffco</span></a></li>
                <li class="menu-lv-1 item"><a class="" href="/collections/raw"><span>Raw</span></a></li>
                {%- comment -%}
                <li class="menu-lv-1 item"><a class="" href="/collections/headshop-bundles"><span>Bundles</span></a></li>
                <li class="menu-lv-1 item dropdown no-mega-menu"><a class="menu__moblie " href="/pages/all-brands"><span>Shop Brands</span>
                  {%- comment -%}
                  <span class="icon-dropdown"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  {%- endcomment -%}                
                  </a><div class="sub-menu-mobile menu-mb-translate"><div class="menu-mb-title"><span>Shop Brands</span><span class="icon-dropdown"><i class="fa fa-angle-left" aria-hidden="true"></i></span></div><ul class="site-nav-dropdown"><li class="menu-lv-2"><a href="/collections/dankstop"><span>DankStop</span></a></li><li class="menu-lv-2"><a href="/collections/nucleus"><span>Nucleus</span></a></li><li class="menu-lv-2"><a href="/collections/grav-labs"><span>Grav</span></a></li><li class="menu-lv-2"><a href="/collections/diamond-glass"><span>Diamond Glass</span></a></li><li class="menu-lv-2"><a href="/collections/empire-glassworks"><span>Empire Glassworks</span></a></li><li class="menu-lv-2"><a href="/collections/my-bud-vase"><span>My Bud Vase</span></a></li><li class="menu-lv-2"><a href="/collections/puffco"><span>Puffco</span></a></li><li class="menu-lv-2"><a href="/collections/raw"><span>RAW</span></a></li><li class="menu-lv-2"><a href="/collections/sweet-tooth"><span>Sweet Tooth</span></a></li><li class="menu-lv-2"><a href="/collections/lavatech"><span>Lava Tech</span></a></li><li class="menu-lv-2"><a href="/pages/all-brands"><span>View All Brands</span></a></li></ul></div>
                </li>
                
                <li class="menu-lv-1 item"><a class="" href="/collections/subscribe-save"><span>Subscriptions</span></a></li>

                  <li class="menu-lv-1 item dropdown no-mega-menu"><a class="menu__moblie " href="/pages/learn"><span>Learn</span>
                  {%- comment -%}
                  <span class="icon-dropdown"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                  {%- endcomment -%}                
                  </a><div class="sub-menu-mobile menu-mb-translate"><div class="menu-mb-title"><span class="icon-dropdown"><i class="fa fa-angle-left" aria-hidden="true"></i></span><span>Learn</span></div><ul class="site-nav-dropdown"><li class="menu-lv-2"><a href="/pages/learn"><span>Learning Center</span></a></li><li class="menu-lv-2"><a href="/pages/gift-guides"><span>Gift Guides</span></a></li><li class="menu-lv-2"><a href="/blogs/blog/glossary-of-terms"><span>Glossary of Terms</span></a></li><li class="menu-lv-2"><a href="/pages/faq"><span>FAQ</span></a></li><li class="menu-lv-2"><a href="/blogs/blog"><span>DankStop Blog</span></a></li><li class="menu-lv-2"><a href="/pages/about-us"><span>About Us</span></a></li><li class="menu-lv-2"><a href="http://youtube.com/dankstop"><span>DankStop Videos</span></a></li></ul></div>
                  </li>
                  
                {%- endcomment -%}
                {%- comment -%}
                <li class="menu-lv-1 item"><a class="" href="http://instashop.co/dankstop"><span>Shop Instagram</span><span class="icon-label icon_hot"><span>Follow Us</span></span></a></li>
                {%- endcomment -%}                
                </ul>
              </nav>
                
              {%- comment -%}
              <div class="ig-follower-count">
                {%- comment -%}
                href="javascript:void(0)" data-reverse="{{ "https://www.instagram.com/dankstop/" | split: "" | reverse | join: ""  }}"
                href="javascript:void(0)" data-reverse="{{ "https://facebook.com/dankstop" | split: "" | reverse | join: ""  }}"
                {%- endcomment -%}
                <a href="https://www.instagram.com/dankstop/" title="DankStop's Instagram" target="_blank" rel="noopener">
                  <div class="ig-css-icon">
                    <svg aria-hidden="true" focusable="false" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#faInstagram"></use></svg>
                  </div>
                  <div class="ig-count triangle-border-left" data-ig-follows-count="{{ ig_follows_count_raw }}">
                    {%- if shop.metafields.social.instagram_follows != blank -%}
                    {%- assign ig_follows_count_raw = shop.metafields.social.instagram_follows | times: 1 | abs -%}
                    {%- if ig_follows_count_raw > 999 -%}
                    {%- assign ig_follows_count = ig_follows_count_raw | divided_by: 1000.0 | round: 1 | append: 'k' -%}
                    {%- endif -%}
                    {%- endif -%}
                    {{ ig_follows_count }}
                  </div>
                </a>
              </div>
              {%- endcomment -%}
         
              {%- comment -%}
              <div class="fb-like-code">
                <a href="https://facebook.com/dankstop" title="Facebook" target="_blank" rel="noopener">            
                  <span class="svg-box"><svg aria-hidden="true" focusable="false" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#faFacebookF"></use></svg></span>
                  Like us
                </a>
              </div>
              {%- endcomment -%}
               
            </div>
          </div>                
        </div>
      </div>
    </div>
    <div class="fixed-right-menu">
      <div class="search-fixed">
        <a href="#" title="Search Icon" class="icon-search" data-search-mobile-toggle>
          <svg aria-hidden="true" focusable="false" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#searchIcon"></use></svg>
        </a>
      </div>
      <div class="cart-fixed cart-icon" data-cart-header-supermarket>             
        <a href="#" title="Cart Icon" data-cart-toggle>
          <svg aria-hidden="true" focusable="false" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cartShopping"></use></svg>
          <span class="cartCount" data-cart-count>
            {%- include 'cart-item-count' -%}
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>