{%- include 'lazyload-placeholder' -%} 
{%- assign lazyload_pgi = settings.enable_lazy_load -%}

{%- assign on_sale = false -%}
{%- if product.compare_at_price_min > product.price_min -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available  -%}
  {%- assign sold_out = false -%}
{%- endif -%}

<!-- new product -->
{%- assign custom_label = false -%}

{%- for tag in product.tags -%}
{%- assign tag_handle = tag | handle -%}
{%- if tag_handle == 'label' -%}
{%- assign custom_label = true -%}
{%- endif -%}
{%- endfor -%}


 


<div class="inner product-item hereSide{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}" data-product-id="product-{{ product.id }}">
  <div class="inner-top">
  	<div class="product-top">
      <div class="product-image{% if product.images.size > 1 and settings.image_swap %} image-swap{% endif %}">
        <a href="{{ product.url | within: collection }}" class="product-grid-image" data-collections-related="/collections/{{collection.handle}}?view=related">
          {%- comment -%}
          {%- assign img_pr = product.featured_image.src | product_img_url: 'large' -%}
          {%- assign img_0 = product.images[0].src | product_img_url: 'large' -%}          
          {%- assign img_1 = product.images[1].src | product_img_url: 'large' -%}
          {%- endcomment -%}
          
          {%- comment -%}
          {%- assign pgi_width = '162' -%}
          {%- assign pgi_width_x = pgi_width | append: 'x' -%}

          {%- assign img_pr = product.featured_image.src | product_img_url: pgi_width_x -%}
          {%- assign img_0 = product.images[0].src | product_img_url: pgi_width_x -%}          
          {%- assign img_1 = product.images[1].src | product_img_url: pgi_width_x -%}
          {%- endcomment -%}
          
          {%- assign img_widths = '168,250,335,420,460' -%}
          
          {%- if product.images.size > 1 and settings.image_swap -%}

          {%- comment -%}
          <img 
               src="{{ lazyload_placeholder }}"
               class="images-one lazysizes lazyload"
               {%- comment -%}
               {% if lazyload_pgi %}
               src="{{ lazyload_placeholder }}"
               class="images-one lazysizes lazyload"
               {%- else -%}
               src="{{ product.images[0].src | product_img_url: pgi_img_width_x }}" alt="{{ product.images[0].alt | escape }}"
               class="images-one"
               {%- endif -%}
               {%- endcomment -%}
               class="images-one lazyload"
               data-src="{{ img_0 }}"
               data-widths="[{{ pgi_width }}, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ product.featured_image.aspect_ratio }}"
               data-sizes="auto">

          <span class="images-two">
            <img 
                 src="{{ lazyload_placeholder }}"
                 class="lazysizes lazyload"
                 data-src="{{ img_1 }}"
                 data-widths="[{{ pgi_width }}, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                 data-sizes="auto">

          </span>
          {%- endcomment -%}
          
          {%- include 'image-module', im_src: product.images[0], im_dt_ws: img_widths -%}
          <span class="images-two">
            {%- include 'image-module', im_src: product.images[1], im_dt_ws: img_widths -%}
          </span>
          
          {%- else -%}

          {%- comment -%}
          <img 
               src="{{ lazyload_placeholder }}"
               class="images-one lazysizes lazyload"
               {%- comment -%}
               {% if lazyload_pgi %}
               src="{{ lazyload_placeholder }}"
               class="images-one lazysizes lazyload"
               {%- else -%}
               src="{{ product.featured_image.src | product_img_url: pgi_img_width_x }}" alt="{{ product.featured_image.alt | escape }}"             
               {%- endif -%}
               {%- endcomment -%}
               data-src="{{ img_pr }}"
               class="lazyload"
               data-widths="[{{ pgi_width }}, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ product.featured_image.aspect_ratio }}"
               data-sizes="auto">
          {%- endcomment -%}
          
          {%- include 'image-module', im_src: product.images[0], im_dt_ws: img_widths -%}
          
          {%- endif -%}
        </a>
      </div>

      {%- if on_sale or sold_out or custom_label -%}
      <div class="product-label">
        {%- if on_sale -%}
        <strong class="label sale-label" {% if settings.enable_multilang %}data-translate="products.product.sale"{% endif %}>
          {{ 'products.product.sale' | t }}
        </strong>
        <br>
        {%- endif -%}
        {%- if sold_out -%}
        <strong class="label sold-out-label" {% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>
          {{ 'products.product.sold_out' | t }}
        </strong>
        <br>
        {%- endif -%}
        
        {%- if custom_label -%}
        <strong class="label custom-label" {% if settings.enable_multilang %}data-translate="products.product.custom_label"{% endif %} >
          {{ 'products.product.custom_label' | t }}
        </strong>
        {%- endif -%}
      </div>
      {%- endif -%}
    </div>
    
    <div class="product-bottom">
      {%- if settings.show_vendor -%}
      <div class="product-vendor">
        {{ product.vendor | link_to_vendor }}
      </div>
      {%- endif -%}
      
      <a class="product-title" href="{{ product.url | within: collection }}">
        {%- include 'multilang' with product.title -%}
      </a>
      
      {%- if settings.display_product_reviews -%}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {%- endif -%}

      {% render 'cc-pricing-card-table',product:clubEliteVariant %}
           
      {% comment %}
      <div class="price-box">
        {%- if on_sale -%}
        <div class="price-sale">
          <span class="old-price">{{ product.compare_at_price_min | money }}</span>
          <span class="special-price">{% if product.price_varies %}{% include 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
        </div>
        {%- else -%}
        <div class="price-regular">
          <span>{% if product.price_varies %}{% include 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
        </div>
        {%- endif -%}
      </div>
      {% endcomment %}
      
      {%- if settings.display_item_swatch -%}
      {%- include 'item-swatch' -%}
      {%- endif -%}
    </div>
    
    {%- if settings.display_button -%}
    <div class="action">
      {%- assign variantCount = product.variants | size -%}
      <form action="/cart/add" method="post" class="variants" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
        {%- if sold_out -%}
        <button class="btn add-to-cart-btn" type="submit" disabled="disabled" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %}>
          {{ 'products.product.unavailable' | t }}
        </button>
        {%- else -%}
        {%- if variantCount > 1 -%}
        <a class="btn" href="{{ product.url }}" title="{{ product.title }}" {% if settings.enable_multilang %}data-translate="products.product.select_options"{% endif %}>
          {{ 'products.product.select_options' | t }}
        </a>
        {%- else -%}
        <input type="hidden" name="id" value="{{ product.variants[0].id }}" /> 

        <button class="btn add-to-cart-btn" type="submit" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %}>
          {{ 'products.product.add_to_cart' | t }}
        </button>
        {%- endif -%}
        {%- endif -%}
      </form>
    </div>   
    {%- endif -%}
  </div>
</div>
 