<section class="cc-mm-sites-access" id="cc-mm-sites-access">
  <div class="cc-mm-sites-access-row">
    <div class="page-width">
      <div class="cc-mm-sites-access-wrap">
        <button href="" class="cc-primary-button">One Simple Login</button>
        <h3 class="cc-section-main-title">The Only Membership You'll Need!</h3>
        <p>
          Shop top smoking accessory & CBD sites with the
          <b class="cc-red">Lowest Price Guaranteed*</b>
        </p>

        <div class="cc-mm-sites-access-portfolio cc-mm-sites-access-portfolio-smoking">
          <h3>Smoking Accessory Sites</h3>
          <div class="cc-mm-sites-access-cards-wrap">
            <div class="splide cc-sites-slider">
              <div class="splide__track">
                <div class="splide__list">
                  {% for block in section.blocks %}
                    {% if block.type == 'smoke_accessories' %}
                      <div class="splide__slide">
                        <div class="cc-mm-sites-access-card">
                          <img
                            src="{{ block.settings.image_here | img_url:'master' }}"
                            class="img-responsive"
                          >
                          <div class="cc-mm-sites-access-text-block">
                            <ul>
      {% if block.settings.list_item_1 != blank %}
                                <li>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="28"
                                    height="28"
                                    viewBox="0 0 28 28"
                                    fill="none"
                                  >
                                    <g clip-path="url(#clip0_15_1482)">
                                        <path
                                            d="M27.8557 13.7042C27.8557 17.3388 26.4118 20.8245 23.8418 23.3945C21.2718 25.9646 17.7861 27.4084 14.1515 27.4084C10.5169 27.4084 7.03117 25.9646 4.46113 23.3945C1.8911 20.8245 0.447266 17.3388 0.447266 13.7042C0.447266 10.0696 1.8911 6.58391 4.46113 4.01387C7.03117 1.44383 10.5169 0 14.1515 0C17.7861 0 21.2718 1.44383 23.8418 4.01387C26.4118 6.58391 27.8557 10.0696 27.8557 13.7042ZM21.055 8.51374C20.9326 8.3918 20.7869 8.29579 20.6266 8.23146C20.4663 8.16712 20.2946 8.13577 20.1219 8.13929C19.9492 8.14281 19.779 8.18112 19.6214 8.25193C19.4639 8.32275 19.3222 8.42461 19.2049 8.55142L13.2556 16.1316L9.67019 12.5445C9.42665 12.3175 9.10452 12.194 8.77167 12.1999C8.43883 12.2057 8.12126 12.3406 7.88587 12.576C7.65048 12.8114 7.51564 13.1289 7.50977 13.4618C7.5039 13.7946 7.62745 14.1167 7.85439 14.3603L12.3871 18.8947C12.5092 19.0166 12.6546 19.1126 12.8146 19.1771C12.9746 19.2415 13.146 19.2731 13.3185 19.2699C13.491 19.2667 13.6611 19.2288 13.8186 19.1585C13.9762 19.0881 14.1179 18.9867 14.2354 18.8604L21.0738 10.3124C21.3069 10.07 21.4357 9.74587 21.4325 9.40958C21.4293 9.07328 21.2944 8.75165 21.0567 8.51374H21.055Z"
                                            fill="#2D2E34" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_15_1482">
                                            <rect width="27.4084" height="27.4084"
                                                fill="white"
                                                transform="translate(0.447266)" />
                                        </clipPath>
                                    </defs>
                                  </svg>
                                  <span>{{ block.settings.list_item_1 }}</span>
                                </li>
                              {% endif %}
                              {% if block.settings.list_item_2 != blank %}
                                <li>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="28"
                                    height="28"
                                    viewBox="0 0 28 28"
                                    fill="none"
                                  >
                                    <g clip-path="url(#clip0_15_1482)">
                                        <path
                                            d="M27.8557 13.7042C27.8557 17.3388 26.4118 20.8245 23.8418 23.3945C21.2718 25.9646 17.7861 27.4084 14.1515 27.4084C10.5169 27.4084 7.03117 25.9646 4.46113 23.3945C1.8911 20.8245 0.447266 17.3388 0.447266 13.7042C0.447266 10.0696 1.8911 6.58391 4.46113 4.01387C7.03117 1.44383 10.5169 0 14.1515 0C17.7861 0 21.2718 1.44383 23.8418 4.01387C26.4118 6.58391 27.8557 10.0696 27.8557 13.7042ZM21.055 8.51374C20.9326 8.3918 20.7869 8.29579 20.6266 8.23146C20.4663 8.16712 20.2946 8.13577 20.1219 8.13929C19.9492 8.14281 19.779 8.18112 19.6214 8.25193C19.4639 8.32275 19.3222 8.42461 19.2049 8.55142L13.2556 16.1316L9.67019 12.5445C9.42665 12.3175 9.10452 12.194 8.77167 12.1999C8.43883 12.2057 8.12126 12.3406 7.88587 12.576C7.65048 12.8114 7.51564 13.1289 7.50977 13.4618C7.5039 13.7946 7.62745 14.1167 7.85439 14.3603L12.3871 18.8947C12.5092 19.0166 12.6546 19.1126 12.8146 19.1771C12.9746 19.2415 13.146 19.2731 13.3185 19.2699C13.491 19.2667 13.6611 19.2288 13.8186 19.1585C13.9762 19.0881 14.1179 18.9867 14.2354 18.8604L21.0738 10.3124C21.3069 10.07 21.4357 9.74587 21.4325 9.40958C21.4293 9.07328 21.2944 8.75165 21.0567 8.51374H21.055Z"
                                            fill="#2D2E34" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_15_1482">
                                            <rect width="27.4084" height="27.4084"
                                                fill="white"
                                                transform="translate(0.447266)" />
                                        </clipPath>
                                    </defs>
                                  </svg>
                                  <span>{{ block.settings.list_item_2 }}</span>
                                </li>
                              {% endif %}
                            </ul>
                            {% if block.settings.button_url != blank %}
                              <a href="{{ block.settings.button_url }}" class="cc-sites-access-button"  data-content='{{ block.settings.content }}'>
                                <span>{{ block.settings.button_text }}</span>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="21"
                                height="21"
                                viewBox="0 0 21 21"
                                fill="none"
                              >
                                <g id="plus">
                                    <path id="Icon"
                                        d="M10.9469 10.4079V6.24121M10.9469 10.4079V14.5745M10.9469 10.4079H15.1136M10.9469 10.4079H6.78027"
                                        stroke="#1C355E" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                              </svg>
                            </a>
                              {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cc-mm-sites-access-portfolio cc-mm-sites-access-portfolio-cbd">
          <h3>CBD & Wellness Sites</h3>
          <div class="cc-mm-sites-access-cards-wrap">
            <div class="splide cc-sites-slider">
              <div class="splide__track">
                <div class="splide__list">
                  {% for block in section.blocks %}
                    {% if block.type == 'cbd_wellness' %}
                      <div class="splide__slide">
                        <div class="cc-mm-sites-access-card">
                          <img
                            src="{{ block.settings.image_here | img_url:'master' }}"
                            class="img-responsive"
                          >
                          <div class="cc-mm-sites-access-text-block">
                            <ul>
                              {% if block.settings.list_item_1 != blank %}
                                <li>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="28"
                                    height="28"
                                    viewBox="0 0 28 28"
                                    fill="none"
                                  >
                                    <g clip-path="url(#clip0_15_1482)">
                                        <path
                                            d="M27.8557 13.7042C27.8557 17.3388 26.4118 20.8245 23.8418 23.3945C21.2718 25.9646 17.7861 27.4084 14.1515 27.4084C10.5169 27.4084 7.03117 25.9646 4.46113 23.3945C1.8911 20.8245 0.447266 17.3388 0.447266 13.7042C0.447266 10.0696 1.8911 6.58391 4.46113 4.01387C7.03117 1.44383 10.5169 0 14.1515 0C17.7861 0 21.2718 1.44383 23.8418 4.01387C26.4118 6.58391 27.8557 10.0696 27.8557 13.7042ZM21.055 8.51374C20.9326 8.3918 20.7869 8.29579 20.6266 8.23146C20.4663 8.16712 20.2946 8.13577 20.1219 8.13929C19.9492 8.14281 19.779 8.18112 19.6214 8.25193C19.4639 8.32275 19.3222 8.42461 19.2049 8.55142L13.2556 16.1316L9.67019 12.5445C9.42665 12.3175 9.10452 12.194 8.77167 12.1999C8.43883 12.2057 8.12126 12.3406 7.88587 12.576C7.65048 12.8114 7.51564 13.1289 7.50977 13.4618C7.5039 13.7946 7.62745 14.1167 7.85439 14.3603L12.3871 18.8947C12.5092 19.0166 12.6546 19.1126 12.8146 19.1771C12.9746 19.2415 13.146 19.2731 13.3185 19.2699C13.491 19.2667 13.6611 19.2288 13.8186 19.1585C13.9762 19.0881 14.1179 18.9867 14.2354 18.8604L21.0738 10.3124C21.3069 10.07 21.4357 9.74587 21.4325 9.40958C21.4293 9.07328 21.2944 8.75165 21.0567 8.51374H21.055Z"
                                            fill="#2D2E34" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_15_1482">
                                            <rect width="27.4084" height="27.4084"
                                                fill="white"
                                                transform="translate(0.447266)" />
                                        </clipPath>
                                    </defs>
                                  </svg>
                                  <span>{{ block.settings.list_item_1 }}</span>
                                </li>
                              {% endif %}
                              {% if block.settings.list_item_2 != blank %}
                                <li>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="28"
                                    height="28"
                                    viewBox="0 0 28 28"
                                    fill="none"
                                  >
                                    <g clip-path="url(#clip0_15_1482)">
                                        <path
                                            d="M27.8557 13.7042C27.8557 17.3388 26.4118 20.8245 23.8418 23.3945C21.2718 25.9646 17.7861 27.4084 14.1515 27.4084C10.5169 27.4084 7.03117 25.9646 4.46113 23.3945C1.8911 20.8245 0.447266 17.3388 0.447266 13.7042C0.447266 10.0696 1.8911 6.58391 4.46113 4.01387C7.03117 1.44383 10.5169 0 14.1515 0C17.7861 0 21.2718 1.44383 23.8418 4.01387C26.4118 6.58391 27.8557 10.0696 27.8557 13.7042ZM21.055 8.51374C20.9326 8.3918 20.7869 8.29579 20.6266 8.23146C20.4663 8.16712 20.2946 8.13577 20.1219 8.13929C19.9492 8.14281 19.779 8.18112 19.6214 8.25193C19.4639 8.32275 19.3222 8.42461 19.2049 8.55142L13.2556 16.1316L9.67019 12.5445C9.42665 12.3175 9.10452 12.194 8.77167 12.1999C8.43883 12.2057 8.12126 12.3406 7.88587 12.576C7.65048 12.8114 7.51564 13.1289 7.50977 13.4618C7.5039 13.7946 7.62745 14.1167 7.85439 14.3603L12.3871 18.8947C12.5092 19.0166 12.6546 19.1126 12.8146 19.1771C12.9746 19.2415 13.146 19.2731 13.3185 19.2699C13.491 19.2667 13.6611 19.2288 13.8186 19.1585C13.9762 19.0881 14.1179 18.9867 14.2354 18.8604L21.0738 10.3124C21.3069 10.07 21.4357 9.74587 21.4325 9.40958C21.4293 9.07328 21.2944 8.75165 21.0567 8.51374H21.055Z"
                                            fill="#2D2E34" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_15_1482">
                                            <rect width="27.4084" height="27.4084"
                                                fill="white"
                                                transform="translate(0.447266)" />
                                        </clipPath>
                                    </defs>
                                  </svg>
                                  <span>{{ block.settings.list_item_2 }}</span>
                                </li>
                              {% endif %}
                            </ul>
                            {% if block.settings.button_url != blank %}
                              <a href="{{ block.settings.button_url }}" class="cc-sites-access-button" data-content='{{ block.settings.content }}'>
                                <span>{{ block.settings.button_text }}</span>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="21"
                                  height="21"
                                  viewBox="0 0 21 21"
                                  fill="none"
                                >
                                  <g id="plus">
                                      <path id="Icon"
                                          d="M10.9469 10.4079V6.24121M10.9469 10.4079V14.5745M10.9469 10.4079H15.1136M10.9469 10.4079H6.78027"
                                          stroke="#1C355E" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round" />
                                  </g>
                                </svg>
                              </a>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
                                        
{% schema %}
{
  "name": "<> Sites Access",
  "settings": [
  ],
  "blocks": [
    {
      "type":"smoke_accessories",
      "name": "Slider 1",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image Here",
          "id": "image_here"
        },
        {
          "type": "text",
          "label": "List Item 1",
          "id": "list_item_1",
          "default": "FREE gifts"
        },
        {
          "type": "text",
          "label": "List Item 2",
          "id": "list_item_2",
          "default": "Sign-up accessory bonus coupon"
        },
        {
          "type": "text",
          "label": "Button Text",
          "id": "button_text",
          "default": "Details"
        },
        {
          "type": "url",
          "label": "Button Link",
          "id": "button_url"
        },
        {
          "type":"textarea",
          "label": "Content",
          "id": "content",
          "default": "{}"
        }
      ]
    },
    {
      "type":"cbd_wellness",
      "name": "Slider 2",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image Here",
          "id": "image_here"
        },
        {
          "type": "text",
          "label": "List Item 1",
          "id": "list_item_1",
          "default": "FREE gifts"
        },
        {
          "type": "text",
          "label": "List Item 2",
          "id": "list_item_2",
          "default": "Sign-up accessory bonus coupon"
        },
        {
          "type": "text",
          "label": "Button Text",
          "id": "button_text",
          "default": "Details"
        },
        {
          "type": "url",
          "label": "Button Link",
          "id": "button_url"
        },
        {
          "type":"textarea",
          "label": "Content",
          "id": "content",
          "default": "{}"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "<> Sites Access",
    }
  ]
}
{% endschema %}
