{% assign s = section.settings %}
<section class="cc-mm-instant-saving-section" id="cc-mm-instant-saving-section">
  <div class="cc-mm-instant-saving-row">
    <div class="page-width">
      <div class="cc-mm-instant-saving-wrap">
        {% if s.heading != blank %}
          <h3 style="font-size: {{ s.heading_font_size }}px;">{{ s.heading }}</h3>
        {% endif %}
        {% if s.description != blank %}
          <div style="font-size: {{ s.description_font_size }}px;">{{ s.description }}</div>
        {% endif %}
        {%  unless customer %} 
        
          <div class="cc-mm-instant-saving-buttons">
            {% if s.button_primary_text %}
              <a href="#" class="cc-primary-button SSO_popup_register">{{ s.button_primary_text }}</a>
            {% endif %}
            {% if s.button_secondary_text %}
               <a href="#" class=" cc-secondary-button SSO_popup_login">{{ s.button_secondary_text }}</a>
            {% endif %}
          </div>

        {% endunless %}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "<> Instant Savings",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lowest Price Guaranteed*"
    },
    {
      "type": "number",
      "id": "heading_font_size",
      "label": "Heading Font Size (px)",
      "default": 24
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "<p><b>Online or Anywhere on the Planet!</b> when you sign up to Cabana Club</p>"
    },
    {
      "type": "number",
      "id": "description_font_size",
      "label": "Description Font Size (px)",
      "default": 16
    },
    {
      "type": "text",
      "id": "button_primary_text",
      "label": "Primary Button Text",
      "default": "Join Now"
    },
    {
      "type": "url",
      "id": "button_primary_link",
      "label": "Primary Button Link"
    },
    {
      "type": "text",
      "id": "button_secondary_text",
      "label": "Secondary Button Text",
      "default": "Sign In"
    },
    {
      "type": "url",
      "id": "button_secondary_link",
      "label": "Secondary Button Link"
    }
  ],
  "presets": [
    {
      "name": "<> Instant Savings",
      "category": "Sections"
    }
  ]
}
{% endschema %}
