{%- layout none -%}
{%- include 'bold-cart' -%}


{%- comment -%}
<!--=== PieceProtect Warranty Plan ========================== -->
{%- endcomment -%}
{%- assign warranty_program_handle = settings.warranty__product -%}
{%- assign warranty_program_product = all_products[warranty_program_handle] -%}
{%- assign warranty_program_title = warranty_program_product.title -%}



{%- if cart.item_count > 0 -%}



{%- include 'free-gifts' -%}



{%- comment -%}
{%- endcomment -%}
{%- include 'shipping-insurance' -%}



{%- if settings.ajax_popup_cart == 'upsell' -%}
<div class="cart-des des"{% if settings.enable_multilang %} data-translate="cart.ajax_cart.popup_cart_des"{%endif%}>
  {{ 'cart.ajax_cart.popup_cart_des' | t }}
</div>

{% assign elite_product = false %}
{% for item in cart.items %}
       {% if item.product_id == settings.elite_product.id %}
         {% assign elite_product = true %}
       {% break %}
     {% endif %}
{% endfor %}
<div class="cart-form wrapper-cart">
  <div class="scroll-content">
    
    <div class="right-col cart_items">
      <div class="box-title"{% if settings.enable_multilang %} data-translate="cart.label.your_order"{%endif%}>
        {{ 'cart.label.your_order' | t }} 
      </div>
      <ul class="cart-list">
        {%- for item in cart.items -%}

          {%- assign item_total_discount = 0 -%}
          {%- include 'bold-cart-item' with item -%}

          {%- if item.properties != blank and item.properties._bundle_addon != blank -%}

            {%- assign bundle_id = item.properties._bundle_addon -%}

            {%- if item.product.handle == settings.warranty__product -%}
              {%- assign product_being_warrantied_handle = '' -%}
              {%- assign product_being_warrantied = '' -%}
              {%- assign product_being_warrantied_variant = '' -%}
              {%- assign product_being_warrantied_variant_title = '' -%}
              {%- assign product_being_warrantied_full_title = '' -%}
              {%- assign product_being_warrantied_url = '' -%}
              {%- assign warranty_program_percentage = settings.warranty__percentage -%}
              {%- assign warranty_program_page_url = 'https://dankstop.com/pages/' | append: settings.warranty__page_handle -%}
              {%- assign warranty_program_cart_html = settings.warranty__cart_html -%}
              {%- assign show_warranty_program_percentage = settings.warranty__show_cart_percentage -%}

              {%- for p in item.properties -%}
                {%- if p.first == '_item_name' -%}
                  {%- assign product_being_warrantied_handle = p.last -%}
                  {%- assign product_being_warrantied = all_products[product_being_warrantied_handle] -%}
                  {%- assign product_being_warrantied_product_title = product_being_warrantied.title -%}
                  {%- assign product_being_warrantied_url = product_being_warrantied.url -%}
                {%- endif -%}
                {%- if p.first == '_item_id' -%}
                  {%- assign product_being_warrantied_variant_id = p.last | abs | times: 1 -%}
                {%- endif -%}
              {%- endfor -%}

              {{-''-}}<li data-product-id="{{ item.variant.id }}"  data-bundle-addon="{{ bundle_id }}">
                <div class="details" style="width:100%;"> 
                  <div class="cart-thumb">
                    <a class="product-img" href="{{ item.url | within: collections.all }}">
                      <img src="{{ item | img_url: '160x' }}"  alt="{{ item.title | escape }}" />
                    </a>
                  </div>

                  <div class="cart-title">
                    <a href="{{ warranty_program_page_url }}" class="product-name" target="_blank" rel="noopener">
                      {%- include 'multilang' with warranty_program_product.title -%}
                    </a>
                    <div>
                      {%- if product_being_warrantied.variants.size > 1 -%}
                        {%- for variant in product_being_warrantied.variants -%}
                          {%- if variant.id == product_being_warrantied_variant_id -%}
                            {%- assign product_being_warrantied_variant = variant -%}
                            {%- assign product_being_warrantied_variant_title = product_being_warrantied_variant.title -%}
                            {%- assign product_being_warrantied_url = product_being_warrantied_variant.url -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                      {%- assign product_being_warrantied_full_title = product_being_warrantied_product_title | append: ' - ' | append: product_being_warrantied_variant_title -%}
                      {%- capture product_being_warrantied_link -%}<a href="{{ product_being_warrantied_url }}" title="{{product_being_warrantied_full_title}}" class="green" target="_blank" rel="noopener">{{ product_being_warrantied_full_title }}</a>{%- endcapture -%}
                      <p>{{ 'warranty_program.cart_item_line_1_html' | t: warrantied_product_title_link: product_being_warrantied_link }}<br />{{ 'warranty_program.cart_item_line_2_html' | t }}</p>
                      <p><a href="{{ warranty_program_page_url }}" class="green" target="_blank" rel="noopener">{{ 'warranty_program.cart_item_link_text' | t }} &nbsp; <i class="fa fa-angle-right"></i></a></p>
                    </div>
                  </div>

                  <div class="cart-line-price">
                    <div class="price-box">
                      <span>
                        {{ bold_item_line_price  | money }}
                      </span>
                    </div>
                  </div>                    

                  <div class="cart-remove">
                    <a class="{{ bold_remove_class }}" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="Remove this item" data-id="{{ item.id }}">
                      <svg class=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#closeXIcon"></use></svg>
                    </a>
                  </div>
                </div>
              </li>{{-''-}}

            {%- else -%}

            {{-''-}}<li data-product-id="{{ item.variant.id }}" data-bundle-addon="{{ bundle_id }}">
              <div class="details"> 
                <div class="cart-thumb">
                  <a class="product-img" href="{{ item.url | within: collections.all }}">
                    <img src="{{ item | img_url: '160x' }}"  alt="{{ item.title | escape }}" />
                  </a>
                </div>

                <div class="cart-title">
                  <a href="{{ item.url }}" class="product-name">
                    {%- include 'multilang' with item.product.title -%}
                  </a>
                  <div class="size">  
                    {%- if item.product.variants.size != 0 -%}
                    {%- unless item.variant.title contains 'Default' -%}
                    <small>
                      {{ item.variant.title }}
                    </small>
                    {%- endunless -%}
                    {%- endif -%}
                  </div>

                  
                  
                  {%- if item.properties.size > 0 -%}
                  <div>
                    {%- for p in item.properties -%}
                    {%- unless p.last == blank -%}
                    {{ p.first }}:
                    {%- if p.last contains '/uploads/' -%}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {%- else -%}
                    {{ p.last }}
                    {%- endif -%}
                    <br>
                    {%- endunless -%}
                    {%- endfor -%}
                  </div>
                  {%- endif -%}
                </div>
              </div>

              <div class="flex_row">           
                <div class="cart-price zz">
                  <div class="price-box">
                    <span>
                      {{ bold_item_price | money }}
                    </span>
                  </div>
                </div>

                <div class="cart-quantity" {% if item.product.id == settings.elite_product.id %} style="display:none;" {% endif %}>
                  <div class="qty-group">
                    <a href="#" data-minus-quantity-cart class="minus button"></a>
                    <input type="text" data-qtt-id="quantity__{{ product.id }}" data-quantity-input name="quantity" value="{{ item.quantity }}"{% if item.variant.inventory_quantity <= item.quantity %} disabled{% endif %}>
                    <a href="#" data-plus-quantity-cart class="plus button{% if item.variant.inventory_quantity == item.quantity %} disabled{% endif %}"></a>
                  </div>
                </div>

                <div class="cart-line-price" {% if item.product.id == settings.elite_product.id %} style="display:none;" {% endif %}>
                  <div class="price-box">
                    <span>
                      {% if  customer.tags contains 'elite_member' or elite_product %}
                          {% assign elite_price = item.variant.metafields.custom.elite_price.value | times: item.quantity %}
                          {% if elite_price and elite_price != 0  %} <s>{{ bold_item_line_price | money }}</s>  {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                        {% elsif customer and customer.tags contains 'club_member' %}
                          {% assign club_price = item.variant.metafields.custom.member_price.value | times: item.quantity %}
                          {% if club_price and club_price != 0 %} <s>{{ bold_item_line_price | money }}</s>  {{ club_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                        {% else %}
                          {{ bold_item_line_price | money }}
                        {% endif %} 
                    </span>
                  </div>
                </div>                    

                <div class="cart-remove">
                  <a class="{{ bold_remove_class }}" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="Remove this item" data-id="{{ item.id }}">
                    <svg class=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#closeXIcon"></use></svg>
                  </a>
                </div>
              </div>
            </li>{{-''-}}

            {%- endif -%}

          {%- elsif item.product.handle == ship_ins_handle -%}

            {{-''-}}<li class="shipins-line-item" data-product-id="{{ item.variant.id }}">
              <div class="details"> 
                <div class="cart-thumb">
                  <a class="product-img" href="{{ item.url | within: collections.all }}">
                    <img src="{{ item | img_url: '160x' }}"  alt="{{ item.title | escape }}" />
                  </a>
                </div>

                <div class="cart-title">
                  <a href="{{ item.url }}" class="product-name">
                    {%- include 'multilang' with item.product.title -%}
                  </a>
                  
                  {%- if settings.shipping_insurance_cart_show_coverage -%}
                  <div class="size">  
                    {%- if item.product.variants.size != 0 -%}
                    {%- unless item.variant.title contains 'Default' -%}
                    <small>
                      {{ 'cart.general.shipping_insurance.cart_item_text' | t }}{{ item.variant.title | abs | times: 100 | money }}
                    </small>
                    {%- endunless -%}
                    {%- endif -%}
                  </div>
                  {%- endif -%}

                  {%- if item.discounts -%}
                    {%- for discount in item.discounts -%}
                      <div>
                        {{ discount.title }}
                      </div>
                    {%- endfor -%}
                    <div>
                      {{ 'cart.general.shipping_insurance.cart_item_text' | t }}{{ item.variant.title | abs | times: 100 | money }}
                    </div>
                  {%- endif -%}
                  
                </div>
              </div>

              <div class="flex_row">           
                <div class="cart-line-price">
                  <div class="price-box">
                    <span>
                      {{ bold_item_line_price  | money }}
                    </span>
                  </div>
                </div>

                <div class="cart-price tt"></div>
                <div class="cart-quantity"></div>                

                <div class="cart-remove">
                  <a class="{{ bold_remove_class }}" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="Remove this item" data-id="{{ item.id }}">
                    <svg class=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#closeXIcon"></use></svg>
                  </a>
                </div>
              </div>
            </li>{{-''-}}

          {%- elsif item.properties != blank and item.properties._bundle_id != blank -%}

            {%- assign free_gift_tag_start = settings.free_gifts_tag_start -%}
            {%- assign free_gift_tag = false -%}
            {%- for tag in item.product.tags -%}
              {%- comment -%}
                PGI Free Gift Progress
              {%- endcomment -%}
              {%- if tag contains free_gift_tag_start -%}
                {%- assign free_gift_tag = tag -%}
              {%- endif -%}
            {%- endfor -%}
        
            {%- assign bundle_id = item.properties._bundle_id -%}
            {{-''-}}<li data-product-id="{{ item.variant.id }}" data-bundle-id="{{ bundle_id }}">
              <div class="details"> 
                <div class="cart-thumb">
                  <a class="product-img" href="{{ item.url | within: collections.all }}">
                    <img src="{{ item | img_url: '160x' }}"  alt="{{ item.title | escape }}" />
                  </a>
                </div>

                <div class="cart-title">
                  <a href="{{ item.url }}" class="product-name">
                    {%- include 'multilang' with item.product.title -%}
                  </a>
                  <div class="size">  
                    {%- if item.product.variants.size != 0 -%}
                    {%- unless item.variant.title contains 'Default' -%}
                    <small>
                      {{ item.variant.title }}
                    </small>
                    {%- endunless -%}
                    {%- endif -%}
                  </div>

                  {%- if item.properties.size > 0 -%}
                  <div>
                    {%- for p in item.properties -%}
                    {%- unless p.last == blank -%}
                    {{ p.first }}:
                    {%- if p.last contains '/uploads/' -%}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {%- else -%}
                    {{ p.last }}
                    {%- endif -%}
                    <br>
                    {%- endunless -%}
                    {%- endfor -%}
                  </div>
                  {%- endif -%}
                  
                  {%- comment -%}
                  Free Gift System
                  {%- endcomment -%}
                  {%- if free_gift_tag -%}
                  {%- include 'free-gift-progress', cart_display:true -%}
                  {%- endif -%}

                  {%- if item.discounts -%}
                    {%- for discount in item.discounts -%}
                      <div class="color-primary">
                        {{ discount.title }}
                      </div>
                      {%- assign item_total_discount = item_total_discount | plus: discount.amount -%}
                    {%- endfor -%}
                  {%- endif -%}

                </div>
              </div>

              <div class="flex_row">
                <div class="cart-price yy">
                  <div class="price-box">
                    <span>
                     {% if customer and customer.tags contains 'elite_member' %}
                        {% assign elite_price = item.variant.metafields.custom.elite_price.value %}
                        {% if elite_price and elite_price != 0  %} {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_price | money }} {% endif %}
                      {% elsif customer and customer.tags contains 'club_member' %}
                        {% if elite_product == true %}
                            {% assign elite_price = item.variant.metafields.custom.elite_price.value %}
                            {% if elite_price and elite_price != 0  %} {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                         {%  else %}
                            {% assign club_price = item.variant.metafields.custom.member_price.value %}
                            {% if club_price and club_price != 0 %} {{ club_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                          {% endif %}
                      {% else %}
                        {% if elite_product == true %}
                            {% assign elite_price = item.variant.metafields.custom.elite_price.value %}
                            {% if elite_price and elite_price != 0  %} {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                         {%  else %}
                            {{ bold_item_price | money }}
                          {% endif %} 
                      {% endif %}
                    </span>
                  </div>
                </div>

                <div class="cart-quantity" {% if item.product.id == settings.elite_product.id %} style="display:none;" {% endif %}>
                  <div class="qty-group">
                    <a href="#" data-minus-quantity-cart class="minus button"></a>
                    <input type="text" data-qtt-id="quantity__{{ product.id }}" data-quantity-input name="quantity" value="{{ item.quantity }}"{% if item.variant.inventory_quantity <= item.quantity %} disabled{% endif %}>
                    <a href="#" data-plus-quantity-cart class="plus button{% if item.variant.inventory_quantity == item.quantity %} disabled{% endif %}"></a>
                  </div>
                </div>

                <div class="cart-line-price" {% if item.product.id == settings.elite_product.id %} style="display:none;" {% endif %}>
                  <div class="price-box">
                    <span>
                      {% if  customer.tags contains 'elite_member' or elite_product %}
                          {% assign elite_price = item.variant.metafields.custom.elite_price.value | times: item.quantity %}
                          {% if elite_price and elite_price != 0  %} <s>{{ bold_item_line_price | money }}</s>  {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                        {% elsif customer and customer.tags contains 'club_member' %}
                          {% assign club_price = item.variant.metafields.custom.member_price.value | times: item.quantity %}
                          {% if club_price and club_price != 0 %} <s>{{ bold_item_line_price | money }}</s>  {{ club_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                        {% else %}
                          {{ bold_item_line_price | money }}
                        {% endif %} 
                    </span>
                  </div>
                </div>                    

                <div class="cart-remove">
                  <a class="{{ bold_remove_class }}" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="Remove this item" data-id="{{ item.id }}">
                    <svg class=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#closeXIcon"></use></svg>
                  </a>
                </div>
              </div>
            </li>{{-''-}}

          {%- else -%}

            {%- assign free_gift_tag_start = settings.free_gifts_tag_start -%}
            {%- assign free_gift_tag = false -%}
            {%- for tag in item.product.tags -%}
              {%- comment -%}
                PGI Free Gift Progress
              {%- endcomment -%}
              {%- if tag contains free_gift_tag_start -%}
                {%- assign free_gift_tag = tag -%}
              {%- endif -%}
            {%- endfor -%}
        
            {{-''-}}<li data-product-id="{{ item.variant.id }}">
              <div class="details"> 
                <div class="cart-thumb">
                  <a class="product-img" href="{{ item.url | within: collections.all }}">
                    <img src="{{ item | img_url: '160x' }}"  alt="{{ item.title | escape }}" />
                  </a>
                </div>

                <div class="cart-title">
                  <a href="{{ item.url }}" class="product-name">
                    {%- include 'multilang' with item.product.title -%}
                  </a>
                  <div class="size">  
                    {%- if item.product.variants.size != 0 -%}
                    {%- unless item.variant.title contains 'Default' -%}
                    <small>
                      {{ item.variant.title }}
                    </small>
                    {%- endunless -%}
                    {%- endif -%}
                  </div>

                  {%- if item.properties.size > 0 -%}
                  <div>
                    {%- for p in item.properties -%}
                    {%- unless p.last == blank -%}
                    {{ p.first }}:
                    {%- if p.last contains '/uploads/' -%}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {%- else -%}
                    {{ p.last }}
                    {%- endif -%}
                    <br>
                    {%- endunless -%}
                    {%- endfor -%}
                  </div>
                  {%- endif -%}
                  
                  {%- comment -%}
                  Free Gift System
                  {%- endcomment -%}
                  {%- if free_gift_tag -%}
                  {%- include 'free-gift-progress', cart_display:true -%}
                  {%- endif -%}

                </div>
              </div>

              <div class="flex_row">           
                <div class="cart-price yy">
                  <div class="price-box">
                    <span>
                     {% if customer and customer.tags contains 'elite_member' %}
                        {% assign elite_price = item.variant.metafields.custom.elite_price.value %}
                        {% if elite_price and elite_price != 0  %} {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_price | money }} {% endif %}
                      {% elsif customer and customer.tags contains 'club_member' %}
                        {% if elite_product == true %}
                            {% assign elite_price = item.variant.metafields.custom.elite_price.value %}
                            {% if elite_price and elite_price != 0  %} {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                         {%  else %}
                            {% assign club_price = item.variant.metafields.custom.member_price.value %}
                            {% if club_price and club_price != 0 %} {{ club_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                          {% endif %}
                      {% else %}
                        {% if elite_product == true %}
                            {% assign elite_price = item.variant.metafields.custom.elite_price.value %}
                            {% if elite_price and elite_price != 0  %} {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                         {%  else %}
                            {{ bold_item_price | money }}
                          {% endif %} 
                      {% endif %}
                    </span>
                  </div>
                </div>

                <div class="cart-quantity" {% if item.product.id == settings.elite_product.id %} style="display:none;" {% endif %}>
                  <div class="qty-group">
                    <a href="#" data-minus-quantity-cart class="minus button"></a>
                    <input type="text" data-qtt-id="quantity__{{ product.id }}" data-quantity-input name="quantity" value="{{ item.quantity }}"{% if item.variant.inventory_quantity <= item.quantity %} disabled{% endif %}>
                    <a href="#" data-plus-quantity-cart class="plus button{% if item.variant.inventory_quantity == item.quantity %} disabled{% endif %}"></a>
                  </div>
                </div>

                <div class="cart-line-price" {% if item.product.id == settings.elite_product.id %} style="display:none;" {% endif %}>
                  <div class="price-box">
                    <span>
                      {% if  customer.tags contains 'elite_member' or elite_product %}
                          {% assign elite_price = item.variant.metafields.custom.elite_price.value | times: item.quantity %}
                          {% if elite_price and elite_price != 0  %} <s>{{ bold_item_line_price | money }}</s>  {{ elite_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                        {% elsif customer and customer.tags contains 'club_member' %}
                          {% assign club_price = item.variant.metafields.custom.member_price.value | times: item.quantity %}
                          {% if club_price and club_price != 0 %} <s>{{ bold_item_line_price | money }}</s>  {{ club_price | times: 100  | money }} {% else %} {{ bold_item_line_price | money }} {% endif %}
                        {% else %}
                          {{ bold_item_line_price | money }}
                        {% endif %} 
                    </span>
                  </div>
                </div>                    

                <div class="cart-remove">
                  <a class="{{ bold_remove_class }}" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="Remove this item" data-id="{{ item.id }}">
                    <svg class=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#closeXIcon"></use></svg>
                  </a>
                </div>
              </div>
            </li>{{-''-}}

          {%- endif -%}

        {%- endfor -%}
      </ul>
    </div>

    <div class="left-col quick-cart">
      <div class="box-title"{% if settings.enable_multilang %} data-translate="cart.label.quick_cart"{%endif%}>
        {{ 'cart.label.quick_cart' | t }} 
      </div>
      
      <div class="des">
        <span class="cartCount" data-cart-count>
          {{ cart.item_count }}
        </span>
        <span {% if settings.enable_multilang %}data-translate="cart.ajax_cart.items_in_your_cart"{%endif%}>
          {{ 'cart.ajax_cart.items_in_your_cart' | t }} 
        </span>      	
      </div>
      
      <div class="cart-popup-action here--popup">
        <div class="total">
          <span class="label">
            <span {% if settings.enable_multilang %}data-translate="cart.label.total"{% endif %}>
              {{ 'cart.label.total' | t }}:
            </span>
          </span>
          <span class="price" style="display:inline-block;"> 

            {% unless customer %}
              {{cart.total_price | money}}
            {% endunless %}

            {% if customer and customer.tags contains 'club_member' %}
              {%  liquid  
                  assign total_price = 0
                  for item in cart.items
                      if elite_product == true 
                        assign item_price = item.variant.metafields.custom.elite_price | default: 0 | times: 100  | times: item.quantity
                      else
                        assign item_price = item.variant.metafields.custom.member_price | default: 0 | times: 100  | times: item.quantity
                      endif
                       
                      assign total_price = total_price | plus: item_price
                  endfor
                  
              %}
              {{ total_price |  money }}
            {% endif %}

            {% comment %}
            if elite_product == true 
                      assign total_price = total_price | plus:settings.elite_product.price
                  endif
            {% endcomment %}
            
            {% if customer and customer.tags contains 'elite_member' %}
              {%  liquid  
                  assign total_price = 0
                  for item in cart.items 
                      assign item_price = item.variant.metafields.custom.elite_price | default: 0 | times: 100  | times: item.quantity 
                      assign total_price = total_price | plus: item_price 
                  endfor 
              %}
              {{ total_price |  money }}
            {% endif %}



          </span> 
          
          {%- include 'payment-plan', price_for_plan: cart.total_price -%}

        </div>
        
        <div class="btn-actions">
          
          {%- if settings.show_shipping_insurance == 'route' -%}
            {%- include 'route-insurance' -%}
          {%- endif -%}

          <a class="btn btn-checkout" href="/checkout" {% if settings.enable_multilang %}data-translate="cart.general.button_checkout"{% endif %}>
            {{ 'cart.general.button_checkout' | t }}
          </a> 
          <a class="btn btn-view-cart" href="/cart" {% if settings.enable_multilang %}data-translate="cart.general.view_cart"{% endif %}>
            {{ 'cart.general.view_cart' | t }}
          </a> 
          <a class="btn btn-continue" href="/collections/all" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.continue_shopping"{% endif %}>
            {{ 'cart.ajax_cart.continue_shopping' | t }}
          </a>
          
          {%- if additional_checkout_buttons and show_paypal -%}
          <div>{{ content_for_additional_checkout_buttons }}</div>
          {%- endif -%}
        </div>
      </div>
    </div>

  </div>
</div>
{%- endif -%}

{%- else -%}
<p class="alert alert-warning" {% if settings.enable_multilang %}data-translate="cart.general.empty"{%endif%}>
  {{ 'cart.general.empty' | t }}
</p>
<p class="cart-empty" {% if settings.enable_multilang %}data-translate="cart.general.continue_browsing_html"{%endif%}>
  {{ 'cart.general.continue_browsing_html' | t }}
</p>
{%- endif -%}