{% layout none %}
{%- comment -%}
<div id="dropdown-customer" class="ct_login">  
{%- endcomment -%}
  <div class="customer-title">
    <a href="javascript:void(0)" title="{{ 'cart.general.close_cart' | t }}" class="close-customer close">
      {%- include 'icon-close' -%}
      <span {% if settings.enable_multilang %}data-translate="cart.general.close_cart"{% endif %}>
        {{ 'cart.general.close_cart' | t }}
      </span>
    </a>
    {%- if customer -%}
    <h5>
      {{ customer.name }}
    </h5>
    {%- else -%}
    <h5 {% if settings.enable_multilang %}data-translate="customer.login.title"{% endif %}>
      {{ 'customer.login.title' | t }}:
    </h5>
    {%- endif -%}
  </div>
  
  <div class="customer-content">
    {%- if customer -%}
    <div class="customer-inner is-customer">
      <a class="acc" href="/account" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>
        {{ 'customer.account.title' | t }}
      </a>
      
      <a class="btn btn-logout" id="customer_logout_link" href="/account/logout" {% if settings.enable_multilang %}data-translate="layout.customer.log_out"{% endif %}>
        {{ 'layout.customer.log_out' | t }}
      </a>      
    </div>

    {%- else -%}
    <div class="customer-inner login-customer">
      <form accept-charset="UTF-8" action="/account/login" method="post">
        <input name="form_type" type="hidden" value="customer_login" />
        <input name="utf8" type="hidden" value="✓" />
        <input class="redirect-url" type="hidden" name="checkout_url" value="" />

        <div class="ct-login">
          <div class="form-group">
            <label for="customer_email_sidebar">
              <span {% if settings.enable_multilang %}data-translate="customer.login.email"{%endif%}>
                {{ 'customer.login.email' | t }}
              </span>
              <em>*</em>
              <input id="customer_email_sidebar" class="form-control" type="email" value="" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}" >
            </label>
          </div>
          <div class="form-group">
            <label for="customer_password_sidebar">
              <span {% if settings.enable_multilang %}data-translate="customer.login.password"{%endif%}>
                {{ 'customer.login.password' | t }}
              </span>
              <em>*</em>
              <input id="customer_password_sidebar" class="form-control" type="password" value="" placeholder="{{ 'customer.login.password' | t }}" name="customer[password]" >
            </label>
          </div>

          <div class="action-btn">
            <input type="submit" class="btn btn-login" {% if settings.enable_multilang %}data-translate="customer.login.login"{% endif %} value="{{ 'customer.login.login' | t }}">
            <a class="text-hover forgot-password" href="/account/login#recover" {% if settings.enable_multilang %}data-translate="customer.login.forgot_password"{% endif %}>
              {{ 'customer.login.forgot_password' | t }}
            </a>
          </div>
        </div>

        <div class="ct-register">
          <a href="/account/register" class="btn btn-register" {% if settings.enable_multilang %}data-translate="customer.register.title"{% endif %}>
            {{  'customer.register.title' | t }}
          </a>
        </div>
      </form>
    </div>
    {%- endif -%}
  </div>
{%- comment -%}
</div>
{%- endcomment -%}
<script>
  var ella_customer_dropdown = {
    closeTranslate: function(t, e) {
      $(t).length && $(document).off("click.closeCustomer", t).on("click.closeCustomer", t, function(t) {
        t.preventDefault(), t.stopPropagation(), $("html").removeClass(e)
      })
    },
    dropdownCustomer: function() {
      this.initDropdownCustomerTranslate($("[data-user-mobile-toggle]"), "customer-show"), 1200 <= window.innerWidth && this.initDropdownCustomerTranslate($("[data-user-pc-translate]"), "customer-show"), this.closeDropdownCustomerTranslate(), this.initDropdownCustomer()
    },
    initDropdownCustomerTranslate: function(t, e) {
      t.length && t.is(":visible") && t.off("click.dropdownCustomerMobile").on("click.dropdownCustomerMobile", function(t) {
        t.preventDefault(), t.stopPropagation(), $("html").addClass(e)
      })
    },
    closeDropdownCustomerTranslate: function() {
      ella_customer_dropdown.closeTranslate("#dropdown-customer .close-customer", "customer-show")
    },
    appendCustomerForPCHeaderDefault: function() {
      var t = $(".header-default .header-panel-bt .customer-links"),
          e = $("#dropdown-customer");
      1200 <= window.innerWidth ? e.appendTo(t) : e.appendTo(l)
    },
    doDropdownCustomerPCHeaderDefault: function() {
      var t = $("[data-dropdown-user]");
      1200 <= window.innerWidth && t.off("click.toogleCustomer").on("click.toogleCustomer", function(t) {
        t.preventDefault(), t.stopPropagation(), $(this).siblings("#dropdown-customer").slideToggle()
      })
    },
    initDropdownCustomer: function() {
      $(".site-header").hasClass("header-default") && (this.appendCustomerForPCHeaderDefault(), this.doDropdownCustomerPCHeaderDefault())
    }
  };

  ella_customer_dropdown.dropdownCustomer();
</script>